In [1]:
import pandas as pd
import numpy as np

In [2]:
df_freq = pd.read_csv("df_with_freq.csv")
df_len = pd.read_csv("df_with_length.csv")

In [3]:
df_freq.head()

,created_at,entry_id,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Population,Fish_Length(cm),Fish_Weight(g),Count,Growth type
0,2021-06-19 00:00:04 CET,1941,23.75,80,27.736,7.04911,5.15546,114,50,6.74,3.2,3174,Slow Growth
1,2021-06-19 00:00:26 CET,1942,23.75,80,4.195,7.09450,4.53072,114,50,6.74,3.2,3174,Slow Growth
2,2021-06-19 00:02:03 CET,1945,23.75,80,10.310,7.07635,5.21473,113,50,6.74,3.2,3174,Slow Growth
3,2021-06-19 00:02:26 CET,1946,23.75,81,1.196,7.07181,5.41747,100,50,6.74,3.2,3174,Slow Growth
4,2021-06-19 00:03:31 CET,1948,23.75,80,2.338,7.08996,5.45899,112,50,6.74,3.2,3174,Slow Growth

In [8]:
df_freq.drop(["created_at", "entry_id", "Fish_Length(cm)", "Population", "Fish_Weight(g)"], axis = 1, inplace = True)

In [9]:
df_freq.head()

,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Count,Growth type
0,23.75,80,27.736,7.04911,5.15546,114,3174,Slow Growth
1,23.75,80,4.195,7.09450,4.53072,114,3174,Slow Growth
2,23.75,80,10.310,7.07635,5.21473,113,3174,Slow Growth
3,23.75,81,1.196,7.07181,5.41747,100,3174,Slow Growth
4,23.75,80,2.338,7.08996,5.45899,112,3174,Slow Growth

In [10]:
df_len.drop(["created_at", "entry_id", "Fish_Length(cm)", "Population", "Fish_Weight(g)"], axis = 1, inplace = True)

In [11]:
df_len.head()

,Unnamed: 0,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Count,Growth_rate,Type_Growth
0,0,23.75,80,27.736,7.04911,5.15546,114,3174,0.0,Less Growth
1,1,23.75,80,4.195,7.09450,4.53072,114,3174,0.0,Less Growth
2,2,23.75,80,10.310,7.07635,5.21473,113,3174,0.0,Less Growth
3,3,23.75,81,1.196,7.07181,5.41747,100,3174,0.0,Less Growth
4,4,23.75,80,2.338,7.08996,5.45899,112,3174,0.0,Less Growth

In [13]:
df_len.drop(["Unnamed: 0"], axis = 1, inplace= True)

In [14]:
df_len.head()

,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Count,Growth_rate,Type_Growth
0,23.75,80,27.736,7.04911,5.15546,114,3174,0.0,Less Growth
1,23.75,80,4.195,7.09450,4.53072,114,3174,0.0,Less Growth
2,23.75,80,10.310,7.07635,5.21473,113,3174,0.0,Less Growth
3,23.75,81,1.196,7.07181,5.41747,100,3174,0.0,Less Growth
4,23.75,80,2.338,7.08996,5.45899,112,3174,0.0,Less Growth

In [15]:
df3 = df_len

In [16]:
df3["Growth speed"] = df_freq["Growth type"]

In [17]:
df3.head()

,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Count,Growth_rate,Type_Growth,Growth speed
0,23.75,80,27.736,7.04911,5.15546,114,3174,0.0,Less Growth,Slow Growth
1,23.75,80,4.195,7.09450,4.53072,114,3174,0.0,Less Growth,Slow Growth
2,23.75,80,10.310,7.07635,5.21473,113,3174,0.0,Less Growth,Slow Growth
3,23.75,81,1.196,7.07181,5.41747,100,3174,0.0,Less Growth,Slow Growth
4,23.75,80,2.338,7.08996,5.45899,112,3174,0.0,Less Growth,Slow Growth

In [25]:
final_growth = []

type_growth = df3["Type_Growth"]
growth_speed = df3["Growth speed"]

In [19]:
l = len(type_growth)

In [26]:
count1 = 0
count2 = 0
count3 = 0
count4 = 0

In [27]:
for i in range(l):
    if type_growth[i]== "Less Growth" and growth_speed[i] == "Slow Growth" :
        final_growth.append("Less and Slow Growth")
        count1 += 1
    elif type_growth[i]== "Less Growth" and growth_speed[i] == "Fast Growth" :
        final_growth.append("Less but Fast Growth")
        count2 += 1
    elif type_growth[i]== "Good Growth" and growth_speed[i] == "Slow Growth" :
        final_growth.append("Good but Slow Growth")
        count3 += 1
    else:
        final_growth.append("Good and Fast Growth")
        count4 += 1

In [28]:
count3

0

In [21]:
df3["Final Growth"] = final_growth

In [22]:
df3.head()

,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Count,Growth_rate,Type_Growth,Growth speed,Final Growth
0,23.75,80,27.736,7.04911,5.15546,114,3174,0.0,Less Growth,Slow Growth,Less and Slow Growth
1,23.75,80,4.195,7.09450,4.53072,114,3174,0.0,Less Growth,Slow Growth,Less and Slow Growth
2,23.75,80,10.310,7.07635,5.21473,113,3174,0.0,Less Growth,Slow Growth,Less and Slow Growth
3,23.75,81,1.196,7.07181,5.41747,100,3174,0.0,Less Growth,Slow Growth,Less and Slow Growth
4,23.75,80,2.338,7.08996,5.45899,112,3174,0.0,Less Growth,Slow Growth,Less and Slow Growth

In [24]:
df3["Final Growth"].unique()

array(['Less and Slow Growth', 'Less but Fast Growth',
       'Good and Fast Growth'], dtype=object)

In [30]:
df3["Final Growth"].isna().sum()

0

# So one more keypoint is that there is no entry with Good and Slow Growth

In [31]:
df3.to_csv("Final_df.csv", index = False)