In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("file1.csv")
df.head()

,Unnamed: 0,created_at,entry_id,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Population,Fish_Length(cm),Fish_Weight(g),Count,Growth_rate,Growth
0,0,2021-06-19 00:00:04 CET,1941,23.75,80,27.736,7.04911,5.15546,114,50,6.74,3.2,3174,0.0,Slow Growth
1,1,2021-06-19 00:00:26 CET,1942,23.75,80,4.195,7.09450,4.53072,114,50,6.74,3.2,3174,0.0,Slow Growth
2,2,2021-06-19 00:02:03 CET,1945,23.75,80,10.310,7.07635,5.21473,113,50,6.74,3.2,3174,0.0,Slow Growth
3,3,2021-06-19 00:02:26 CET,1946,23.75,81,1.196,7.07181,5.41747,100,50,6.74,3.2,3174,0.0,Slow Growth
4,4,2021-06-19 00:03:31 CET,1948,23.75,80,2.338,7.08996,5.45899,112,50,6.74,3.2,3174,0.0,Slow Growth

In [7]:
x = df.Growth_rate.unique()

In [10]:
mean_x = x.mean()

In [11]:
mean_x

0.5452000000000002

In [12]:
col = df.Growth_rate

In [13]:
type_growth = []

for y in col:
    if y<mean_x:
        type_growth.append("Less Growth")
    else:
        type_growth.append("Good Growth")

In [15]:
len(type_growth)

169185

In [16]:
df["Type_Growth"] = type_growth

In [17]:
df.head()

,Unnamed: 0,created_at,entry_id,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Population,Fish_Length(cm),Fish_Weight(g),Count,Growth_rate,Growth,Type_Growth
0,0,2021-06-19 00:00:04 CET,1941,23.75,80,27.736,7.04911,5.15546,114,50,6.74,3.2,3174,0.0,Slow Growth,Less Growth
1,1,2021-06-19 00:00:26 CET,1942,23.75,80,4.195,7.09450,4.53072,114,50,6.74,3.2,3174,0.0,Slow Growth,Less Growth
2,2,2021-06-19 00:02:03 CET,1945,23.75,80,10.310,7.07635,5.21473,113,50,6.74,3.2,3174,0.0,Slow Growth,Less Growth
3,3,2021-06-19 00:02:26 CET,1946,23.75,81,1.196,7.07181,5.41747,100,50,6.74,3.2,3174,0.0,Slow Growth,Less Growth
4,4,2021-06-19 00:03:31 CET,1948,23.75,80,2.338,7.08996,5.45899,112,50,6.74,3.2,3174,0.0,Slow Growth,Less Growth

In [18]:
df.drop(["Growth"], axis = 1, inplace= True)

In [19]:
df.head()

,Unnamed: 0,created_at,entry_id,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Population,Fish_Length(cm),Fish_Weight(g),Count,Growth_rate,Type_Growth
0,0,2021-06-19 00:00:04 CET,1941,23.75,80,27.736,7.04911,5.15546,114,50,6.74,3.2,3174,0.0,Less Growth
1,1,2021-06-19 00:00:26 CET,1942,23.75,80,4.195,7.09450,4.53072,114,50,6.74,3.2,3174,0.0,Less Growth
2,2,2021-06-19 00:02:03 CET,1945,23.75,80,10.310,7.07635,5.21473,113,50,6.74,3.2,3174,0.0,Less Growth
3,3,2021-06-19 00:02:26 CET,1946,23.75,81,1.196,7.07181,5.41747,100,50,6.74,3.2,3174,0.0,Less Growth
4,4,2021-06-19 00:03:31 CET,1948,23.75,80,2.338,7.08996,5.45899,112,50,6.74,3.2,3174,0.0,Less Growth

In [20]:
df.to_csv("df_with_length.csv", index=False)